version: "3.8:latest"
services: 
  nginx: 
    container_name: nginx
    image: nginx:latest
    ports: 
    - target: 80
      published: 80
      protocol: tcp
    volumes: 
    - type: bind 
      source: ./nginx.conf
      target: /etc/nginx/nginx.conf
    depends_on: 
    - boxer-api

  boxer-api:
    container_name: boxer-api
    image: docker.io/activehas/boxer-api:latest
    build: ./boxer-api
    depends_on:
    - stamina-api
    - strength-api
    - merge-api

  stamina-api:
    container_name: stamina-api
    image: docker.io/activehas/stamina-api:latest
    build: ./stamina-api

  strength-api:
    container_name: strength-api
    image: docker.io/activehas/strength-api:latest
    build: ./strength-api

  merge-api:
    container_name: merge-api
    image: docker.io/activehas/merge-api:latest
    build: ./merge-api
    depends_on:
    - stamina-api
    - strength-api